# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# production
dist
extension
firefox/assets
firefox/128.png
firefox/content.js
firefox/onboarding-page.html
firefox/service-worker.js

chrome/assets
chrome/content.js
chrome/style.css
chrome/128.png
chrome/_metadata
chrome/rules_1.json

# misc
.DS_Store

# debug
npm-debug.log*

# local env files
.env*.local



